/*
Media Query Manager
0 - 600px: phone
600 - 900px: Tablet Portrait
900 - 1200px: Tablet Landscape

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes typing {
  from {
    width: 0; } }

@keyframes caret {
  50% {
    border-color: transparent; } }

@keyframes bubble-1 {
  50% {
    border-color: transparent;
    color: transparent; } }

@keyframes bubble-2 {
  50% {
    border-color: transparent; } }

@keyframes bubble-3 {
  50% {
    border-color: transparent; } }

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #555;
  text-transform: uppercase;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .heading-primary--main {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    animation: moveInLeft 2s ease-out;
    text-align: left; }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 4rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0;
        font-size: 3rem;
        margin-left: 5rem; } }
  .heading-primary--sub {
    font-weight: 500;
    letter-spacing: .1rem;
    animation: moveInRight 2s ease-out; }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 2.5rem; } }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0;
        font-size: 1.8rem;
        margin-left: 5rem; } }

.heading-secondary {
  color: #555;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #999, #333);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary:hover {
    transform: skewY(-5deg);
    text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  color: #555;
  font-size: 2rem; }

.paragraph {
  font-size: 1.8rem;
  padding: .5rem 0 2rem 0; }
  .paragraph__ul {
    font-size: 1.8rem; }

ion-icon {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-top-large {
  margin-top: 8rem; }

.u-margin-top-xlarge {
  margin-top: 10rem; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #f7f7f7;
  color: #999; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 45%;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 25%;
        margin-top: -5rem; } }
    .composition__photo-p1 {
      left: 14%;
      top: 0; }
      @media (max-width: 56.25em) {
        .composition__photo-p1 {
          left: 27.5%; } }
    .composition__photo-p2 {
      left: 51%;
      top: 0; }
      @media (max-width: 56.25em) {
        .composition__photo-p2 {
          left: 47.5%; } }
    .composition__photo-p3 {
      left: 36%;
      top: 25rem; }
      @media (max-width: 56.25em) {
        .composition__photo-p3 {
          left: 40%;
          top: 12.5rem; } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.project-grid {
  padding: 8rem 5rem 5rem 5rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-auto-rows: 5rem;
  grid-gap: 1.5rem; }
  @media (max-width: 56.25em) {
    .project-grid {
      padding-top: 9rem; } }
  @media (max-width: 37.5em) {
    .project-grid {
      padding-top: 7rem; } }
  .project-grid__card {
    width: 80%;
    margin: 0 auto; }
    .project-grid__card-1 {
      grid-row-end: span 4; }
      @media (max-width: 56.25em) {
        .project-grid__card-1 {
          grid-row-end: span 6; } }
      @media (max-width: 37.5em) {
        .project-grid__card-1 {
          grid-row-end: span 4; } }
    .project-grid__card-2 {
      grid-row-end: span 6; }
      @media (max-width: 56.25em) {
        .project-grid__card-2 {
          grid-row-end: span 8; } }
      @media (max-width: 37.5em) {
        .project-grid__card-2 {
          grid-row-end: span 6; } }
    .project-grid__card-3 {
      grid-row-end: span 4; }
      @media (max-width: 56.25em) {
        .project-grid__card-3 {
          grid-row-end: span 6; } }
      @media (max-width: 37.5em) {
        .project-grid__card-3 {
          grid-row-end: span 4; } }
    .project-grid__card-4 {
      grid-row-end: span 4; }
      @media (max-width: 56.25em) {
        .project-grid__card-4 {
          grid-row-end: span 6; } }
      @media (max-width: 37.5em) {
        .project-grid__card-4 {
          grid-row-end: span 4; } }
    .project-grid__card-5 {
      grid-row-end: span 4; }
    .project-grid__card-img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      @media (max-width: 37.5em) {
        .project-grid__card-img {
          max-width: 360px; } }
      .project-grid__card-img-1 {
        float: right; }
      .project-grid__card-img-2 {
        float: right; }
      .project-grid__card-img-3 {
        float: right; }
      .project-grid__card-img-4 {
        float: right; }
      .project-grid__card-img-5 {
        float: right; }
  .project-grid__shape {
    width: 100%;
    position: relative; }
  .project-grid__caption {
    position: absolute;
    top: 10%;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
    .project-grid__caption-item {
      display: inline-block;
      font-weight: 900;
      border-radius: 5px;
      padding: .5rem;
      margin: .3rem;
      background-color: #333;
      color: #eee; }
    .project-grid__caption-anchor {
      text-decoration: none;
      text-transform: lowercase;
      font-weight: 900;
      color: #eee; }
  .project-grid__card:hover {
    z-index: 100; }
  .project-grid__card:hover .project-grid__caption {
    opacity: 1;
    color: #fff; }
  .project-grid__card:hover .project-grid__card-img {
    filter: blur(3px) brightness(50%);
    transform: scale(1.2); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem; }
  @media (max-width: 56.25em) {
    .card {
      height: 23rem;
      width: 300px;
      padding-bottom: 37rem;
      transform: translateX(75px); } }
  @media (max-width: 37.5em) {
    .card {
      width: 270px;
      transform: translateX(27px); } }
  .card__side {
    height: 38rem;
    font-size: 2rem;
    transition: all .8s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      opacity: .7; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #FF8888, #FF0000); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    height: 12rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture-1 {
      background-image: url(../img/lighthouselabs.png); }
    .card__picture-2 {
      background-image: url(../img/reutlingen.png); }
    .card__picture-3 {
      background-image: url(../img/nctu.png); }
    .card__picture-4 {
      background-image: url(../img/nsysu.png); }
  .card__details {
    text-transform: uppercase;
    margin-top: 1rem; }
    .card__details ul {
      list-style: none;
      padding: 0;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.7rem;
        padding: .9rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 2px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%); }
  .card__moreinfo {
    font-size: 1.8rem;
    margin-bottom: 7rem;
    color: #fff; }
  .card__btn {
    color: #fff; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 8rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    display: table-cell;
    width: 33.33333%;
    vertical-align: middle; }
  .popup__right {
    display: table-cell;
    width: 66.66667%;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #999;
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
    line-height: 1; }
  .popup__close:hover {
    color: #55c57a; }

.header {
  height: 95vh; }
  @media (max-width: 56.25em) {
    .header {
      height: 85vh; } }
  @media (max-width: 37.5em) {
    .header {
      height: 100vh; } }
  .header__background-img {
    position: relative;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
    @media (max-width: 37.5em) {
      .header__background-img {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__background-img::after {
    background-image: url("../img/office.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4; }
  .header__text-box {
    position: absolute;
    top: 15%;
    left: 28%;
    transform: translate(-50%, -50%);
    padding-left: 5rem;
    text-align: center; }
    @media (max-width: 56.25em) {
      .header__text-box {
        top: 12.5%;
        padding-left: 12.5rem; } }
    @media (max-width: 37.5em) {
      .header__text-box {
        padding: 0; } }
  .header__bubble {
    position: absolute;
    top: 23%;
    left: 22%;
    width: 30rem;
    height: 30rem;
    margin: 0; }
    @media (max-width: 56.25em) {
      .header__bubble {
        top: 23%;
        left: 10%; } }
    @media (max-width: 37.5em) {
      .header__bubble {
        top: 15%;
        left: 12%; } }
    .header__bubble-1 {
      position: absolute;
      top: 3%;
      left: 20%;
      border: 0.6rem solid #999;
      border-radius: 50%;
      padding: 1rem 1.1rem;
      text-align: center;
      animation: bubble-1 3s 3s infinite; }
      @media (max-width: 56.25em) {
        .header__bubble-1 {
          left: 80%;
          top: 1.4%;
          padding: .5rem 2.5rem; } }
      @media (max-width: 56.25em) {
        .header__bubble-1 {
          top: 3%;
          left: 67%; } }
    .header__bubble-2 {
      position: absolute;
      top: 20%;
      left: 53%;
      border: 0.4rem solid #999;
      border-radius: 50%;
      padding: 1rem 1.1rem;
      animation: bubble-2 3s 2s infinite; }
      @media (max-width: 56.25em) {
        .header__bubble-2 {
          left: 65%; } }
      @media (max-width: 56.25em) {
        .header__bubble-2 {
          top: 16%;
          left: 52%; } }
    .header__bubble-3 {
      position: absolute;
      top: 30%;
      left: 62%;
      border: 0.3rem solid #999;
      border-radius: 50%;
      padding: .5rem .5rem;
      animation: bubble-3 3s 1s infinite; }
      @media (max-width: 56.25em) {
        .header__bubble-3 {
          top: 25%;
          left: 45%; } }
  .header__content {
    position: absolute;
    width: 55%;
    top: 35%;
    left: 30%; }
    @media (max-width: 56.25em) {
      .header__content {
        top: 35%;
        left: 12%;
        width: 77.5%; } }
    @media (max-width: 37.5em) {
      .header__content {
        top: 25%;
        left: 10%;
        width: 90%; } }
    .header__content-circle {
      width: 25rem;
      height: 25rem;
      float: left;
      -webkit-shape-outside: circle(50%);
      shape-outside: circle(50%); }
      @media (max-width: 37.5em) {
        .header__content-circle {
          float: none;
          height: 20rem; } }
      .header__content-circle-img {
        width: 25rem;
        height: 25rem;
        padding: 3rem;
        cursor: pointer; }
        @media (max-width: 56.25em) {
          .header__content-circle-img {
            width: 23rem;
            height: 23rem;
            padding: 2rem; } }
        @media (max-width: 37.5em) {
          .header__content-circle-img {
            width: 20rem;
            height: 20rem;
            padding: 1.5rem; } }
    .header__content-text {
      margin-top: 2rem;
      font-size: 2.3rem;
      letter-spacing: .025rem;
      color: #555; }
      @media (max-width: 56.25em) {
        .header__content-text {
          letter-spacing: .05rem; } }
      @media (max-width: 37.5em) {
        .header__content-text {
          text-align: center;
          letter-spacing: 0;
          color: black;
          font-weight: 550;
          margin-top: .8rem; } }
      .header__content-text span:last-child {
        border-right: .05em solid;
        animation: caret 1s steps(1) infinite; }
    .header__content-circle-back {
      text-align: center;
      font-size: 2rem;
      position: absolute;
      top: 3rem;
      left: 3rem;
      width: 18.8rem;
      height: 18.8rem;
      transform: translateX(0.1rem) translateY(0.1rem) rotate(50deg);
      transition: all 0.5s;
      background-color: #333;
      float: left;
      border-radius: 50%;
      z-index: -2;
      -webkit-shape-outside: circle(50%);
      shape-outside: circle(50%); }
      @media (max-width: 56.25em) {
        .header__content-circle-back {
          top: 2.3rem;
          left: 2.3rem;
          width: 18.5rem;
          height: 18.5rem;
          transform: translateX(0.1rem) translateY(0.1rem); } }
      @media (max-width: 37.5em) {
        .header__content-circle-back {
          top: 1.5rem;
          left: 1.3rem;
          width: 16.5rem;
          height: 16.5rem;
          margin-left: .5rem; } }
      .header__content-circle-back-text {
        padding-top: 2rem;
        color: #fff; }
    .header__content:hover .header__content-circle-back {
      transform: translateX(-85%); }
      @media (max-width: 56.25em) {
        .header__content:hover .header__content-circle-back {
          transform: translateY(95%); } }
      @media (max-width: 37.5em) {
        .header__content:hover .header__content-circle-back {
          transform: translateX(85%); } }

#self-introduction {
  padding-right: 5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 36rem; } }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 8rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * (6rem)); }

.footer {
  background-color: #555;
  padding: 7rem 0;
  font-size: 1.4rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .footer {
      margin-top: -12rem; } }
  @media (max-width: 37.5em) {
    .footer {
      padding: 3rem 0; } }
  .footer__list-inline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    list-style-type: none;
    text-align: center; }
    @media (max-width: 37.5em) {
      .footer__list-inline {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        padding-inline-start: 0; }
        .footer__list-inline :not(:last-child) {
          margin-right: 1.5rem; } }
    .footer__list-inline li {
      display: inline;
      margin: 1rem; }
      @media (max-width: 37.5em) {
        .footer__list-inline li {
          margin: 0; } }
  .footer__btn-outline {
    border: solid 2px #fff;
    color: #fff;
    transition: all .3s ease-in-out;
    position: relative; }
  .footer__btn-outline:hover {
    border: solid 2px #fff;
    background: #fff; }
  .footer__btn-social {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .navigation__button {
      height: 5rem;
      width: 5rem;
      top: 2rem;
      right: 2rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#f7f7f7, #555);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 37.5em) {
    .navigation__background {
      height: 4rem;
      width: 4rem;
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1500;
  width: 0;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link {
  font-weight: 500; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    padding: 1rem 2rem;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #000;
    transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  z-index: 1500; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 2.5rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.section-experience {
  background-color: #fff;
  padding: 25rem 0 18rem 0;
  margin-top: -15vh; }
  @media (max-width: 56.25em) {
    .section-experience {
      padding: 20rem 0 25rem 0; } }
  @media (max-width: 37.5em) {
    .section-experience {
      padding: 18rem 5rem 21rem 5rem; } }

.section-projects__background-img {
  position: relative;
  height: 100%;
  padding: 12rem 0 5rem 0; }
  @media (max-width: 37.5em) {
    .section-projects__background-img {
      padding: 10rem 0 .5rem 0; } }

.section-projects__background-img::after {
  background-image: url("../img/proj.jpg");
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  transform: skewY(-5deg); }

.section-projects > * {
  z-index: 0; }

.section-education {
  margin-top: -5rem;
  background-color: #fff;
  padding: 25rem 0 30rem 0; }
  @media (max-width: 37.5em) {
    .section-education {
      padding: 12.5rem 0 20rem 0; } }
