.footer {
  background-color: $color-grey-dark-2;
  padding: 7rem 0;
  font-size: 1.4rem;
  position: relative; 

  @include respond(tab-port) {
    margin-top: -12rem;
  }

  @include respond(phone) {
    padding: 3rem 0;
  }

  &__list-inline {
    @include absCenter;
    list-style: none;
    list-style-type: none;
    text-align: center;

    @include respond(phone) {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      padding-inline-start: 0;
      :not(:last-child) {
        margin-right: 1.5rem;
      }
    }
    
    & li {
      display:inline;
      margin: 1rem;

      @include respond(phone) {
        margin: 0;
      }
    }
  }

  &__btn-outline {
    border: solid 2px #fff;
    color: #fff;
    transition: all .3s ease-in-out;
    position: relative;
  }

  &__btn-outline:hover, {
      border: solid 2px #fff;
      background: #fff;
  }

  &__btn-social {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    
  }

  &__icon {
    
  }
}