.header {

  height: 95vh;

  &__background-img {
    position: relative;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }

  &__background-img::after {
    background-image: url("../img/office.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
  }

  &__text-box {
    position: absolute;
    top: 20%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__bubble {
    position: absolute;
    top: 32%;
    left: 25%;
    width: 30rem;
    height: 30rem;
    margin: 0;

    &-1 {
      position: absolute;
      top: 3%;
      left: 20%;
      border: .6rem solid $color-grey-dark;
      border-radius: 50%;
      padding: 1rem 1.1rem;
      text-align: center;
      animation: bubble-1 3s 3s infinite;
    }

    &-2 {
      position: absolute;
      top: 20%;
      left: 53%;
      border: .4rem solid $color-grey-dark;
      border-radius: 50%;
      padding: 1rem 1.1rem;
      animation: bubble-2 3s 2s infinite;
    }

    &-3 {
      position: absolute;
      top: 30%;
      left: 62%;
      border: .3rem solid $color-grey-dark;
      border-radius: 50%;
      padding: .5rem .5rem;
      animation: bubble-3 3s 1s infinite;
    }
  }

  &__content {
    position: absolute;
    width: 55%;
    top: 43%;
    left: 34%;
    
    &-circle {
      width: 25rem;
      height: 25rem;
      float: left;
      -webkit-shape-outside: circle(50%);
      shape-outside: circle(50%);
      
      &-img {
        width:25rem;
        height: 25rem;        
        padding: 3rem;
        cursor: pointer;
      }
    }

    &-text {
      margin-top: 2rem;
      font-size: 2.5rem;
      letter-spacing: .15rem;
      color: $color-grey-dark-2;
      
      span:last-child {
        border-right: .05em solid;
        animation: caret 1s steps(1) infinite;
      }
    }

    &-circle-back {
      text-align: center;
      font-size: 2rem;
      position: absolute;
      top: 3rem;
      left: 3rem;
      width: 18.8rem;
      height: 18.8rem;
      transform: translateX(.1rem) translateY(.1rem) rotate(50deg);
      transition: all 0.5s;
      background-color: $color-grey-dark-3;
      float: left;
      border-radius: 50%;
      z-index: -2;
      -webkit-shape-outside: circle(50%);
      shape-outside: circle(50%);
      
      &-text {
        padding-top: 2rem;
        color: $color-white;
      }
    }

    &:hover &-circle-back {
      transform: translateX(-85%);
    }
  }
}
