 <!-- Contact Section -->
    <section id="experience">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Experience</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-timeline">
              <div class="timeline">
                <div class="timeline-content">
                  <div class="content">
                    <a href="https://www.lighthouselabs.ca" target="_blank" class="timeline-content">
                      <h3 class="title">Lighthouse Labs<i class="fa fa-globe"></i></h3>
                      <h4 style="color:black;">Web Development Bootcamp</h4>
                      <h5 style="color:gray;">Jan 2019 - Mar 2019, Toronto</h5>
                      <p class="description">
                          A fully immersive program to learn the foundations of web development.
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-content">
                  <div class="content">
                    <a href="https://www.garmin.com/en-CA/" target="_blank" class="timeline-content">
                      <h3 class="title">Garmin <i class="fa fa-globe"></i></h3>
                      <h4 style="color:black;">Software Engineer</h4>
                      <h5 style="color:gray;">Sep 2016 - Sep 2018, Taiwan</h5>
                      <p class="description">
                        CIQ
                      </p>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>