    <!-- Header -->
    <header>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <img src="/img/yuning.png" alt="">
              <div class="intro-text">
                <span class="name">Yu-Ning, Wang</span>
                <hr class="star-light">
                <span class="skills">
                  Full-stack web developer with a background in computer science and 
                  two years of experience as a Software Engineer. 
                  A problem-solver and fast learner looking to contribute to 
                  and learn from an awesome team. I am comfortable being thrown into 
                  new situations and able to adapt to the new environments quickly, 
                  especially after the experience of being an exchange student and 
                  living in Canada. I am now eagerly pursuing an opportunity to work 
                  in a collaborative dev environment.                
                </span>
              </div>
            </div>
          </div>
        </div>
    </header>