 <!-- About Section -->
 <section class="success" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/javascript.png" width=140 height=140>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/nodejs.png" width=140 height=140>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/react.png" width=128 height=128>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/react-native.png" width=150 height=150>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/jquery.png" width=128 height=128>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/java.png" width=140 height=140>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/c.png" width=128 height=128>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/html.png" width=128 height=128>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/css3.png" width=140 height=140>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/bootstrap.png" width=165 height=165>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/psql.png" width=128 height=128>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/mongodb.png" width=128 height=128>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/mysql.png" width=128 height=128>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/linux.png" width=128 height=128>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/git.png" width=128 height=128>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div id="wrap">
              <div class="skill_logo">
                  <img src="/img/skills/heroku.png" width=128 height=128>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
