.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  
  &__side {
    height: 38rem;
    font-size: 2rem;
    transition: all .8s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      opacity: .7;
      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }

      &-4 {
        background-image: linear-gradient(to right bottom, #FF8888, #FF0000);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    margin:0px;
    padding:0px;
    background-size: cover;
    height: 12rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &-1 {
      background-image: url(../img/lighthouselabs.png);
    }

    &-2 {
      background-image: url(../img/reutlingen.png);
    }

    &-3 {
      background-image: url(../img/nctu.png);
    }

    &-4 {
      background-image: url(../img/nsysu.png);
    }
  }

  &__details {
    text-transform: uppercase;
    margin-top: 1rem;
    ul {
      list-style: none;
      padding: 0;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.7rem;
        padding: .9rem;
        &:not(:last-child) {
          border-bottom: 2px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  &__moreinfo {
    font-size: 1.8rem;
    margin-bottom: 7rem;
    color: $color-white;
  }

  &__btn {
    color: $color-white;
  }
}