.composition {
  position: relative;

  &__photo {
    width: 45%;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;

    @include respond(tab-port) {
      width: 25%;
      margin-top: -5rem;
    }

    &-p1 {
      left: 14%;
      top: -2rem;

      @include respond(tab-port) {
        left: 27.5%;
      }
    }

    &-p2 {
      left: 51%;
      top: -2rem;

      @include respond(tab-port) {
        left: 47.5%;
      }
    }

    &-p3 {
      left: 36%;
      top: 21rem;

      @include respond(tab-port) {
        left: 40%;
        top: 12.5rem;
      }
    }

    &-p4 {
      left: 40%;
      top: -1rem;

      @include respond(tab-port) {
        left: 40%;
        top: 12.5rem;
      }
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
}